<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SupplierMapper">

    <select id="selectAll" resultType="com.example.entity.Supplier">
        select * from `supplier`
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Supplier">
        select * from `supplier` where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `supplier` where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Supplier" useGeneratedKeys="true" keyProperty="id">
        insert into `supplier`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="contact != null">contact,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="purchaseTime != null">purchase_time,</if>
            <if test="productionDate != null">production_date,</if>
            <if test="expirationDate != null">expiration_date,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="contact != null">#{contact},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="purchaseTime != null">#{purchaseTime},</if>
            <if test="productionDate != null">#{productionDate},</if>
            <if test="expirationDate != null">#{expirationDate},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Supplier">
        update `supplier`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="contact != null">
                contact = #{contact},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="purchaseQuantity != null">
                purchase_quantity = #{purchaseQuantity},
            </if>
            <if test="purchaseTime != null">
                purchase_time = #{purchaseTime},
            </if>
            <if test="productionDate != null">
                production_date = #{productionDate},
            </if>
            <if test="expirationDate != null">
                expiration_date = #{expirationDate},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>